.Table {
  display: flex;
  flex-direction: column;
}
.TH__Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.TH__Header > th {
  flex: 0.2;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.TH__Header > th > h1 {
  font-size: 12px;
  font-weight: 300;
  padding-right: 8px;
}
.FilterIcon {
  cursor: pointer;
}
.TH__Header > th > svg {
  width: 14px;
  height: 14px;
}
.TableFilterDropdown {
  display: none;
  width: 200px;
  height: 100px;
  background-color: #262626;
  border: 2px solid #ffffff;
  z-index: 10;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}
.TableBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 14px 0px 10px 0px;
  border-bottom: 1px solid #ffffff;
}
.TB__Symbols {
  flex: 0.2;
  font-size: 20px;
  font-weight: 900;
}
.TB__Value {
  flex: 0.2;
  font-size: 20px;
  font-weight: 900;
}
.TB__Chain {
  flex: 0.2;
}
.TB__Reporter {
  flex: 0.2;
  display: flex;
}
.Table__Jazzicon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.TB__DateTime {
  flex: 0.2;
}

/* TABLE GLOBAL CLASSES */
.display {
  display: flex !important;
}
