.App {
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  color: #ffffff;
  font-family: 'PPNeueMontreal-Bold', sans-serif;
  transition: 0.3s;
}
.HeroContainer {
  width: 92%;
  justify-content: stretch;
  min-height: calc(80vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: #262626;
  overflow-x: auto; /* Allow horizontal scrolling */
  margin-bottom: 100px;
  transition: 0.3s;
}

/* LIGHT MODE STYLES */
.AppLight {
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  color: #262626;
  font-family: 'PPNeueMontreal-Medium', sans-serif;
  transition: 0.3s;
}
.HeroContainerLight {
  width: 92%;
  min-height: calc(80vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow-x: auto; /* Allow horizontal scrolling */

  margin-bottom: 100px;
  transition: 0.3s;
}